@font-face {
  font-family: KateXMainRegular;
  src: url('https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/fonts/KaTeX_Main-Regular.woff2');
}
@font-face {
  font-family: KateXMainBold;
  src: url('https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/fonts/KaTeX_Main-Bold.woff2');
}
body {
  margin: 0;
  font-family: KateXMainRegular,Times New Roman,serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0;
  padding: 0;
}